h1{ color: lightsalmon;

				}
				img{ width: 400px;

				}
				#thirdDiv{ background: lemonchiffon;
						   height:600px; 
						   width:500 ; 
						   padding: 50px; 
						   border: ridge 10px lightseagreen;

				}
				#spanId{ font-size: 18px; 
					     margin: 50px; 

				}